<ion-content [fullscreen]="false">
  <ion-row class="ion-no-padding" *ngFor="let entry of data; let isFirst = first">
    <ion-col size="9">
      <h2 class="section-header">{{entry.title}}</h2>
    </ion-col>
    <ion-col size="3" class="ion-text-end">
      <ion-button *ngIf="isFirst" fill="clear" color="light">
        <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-col>
    <swiper-container #swiper [slidesPerView]="2.4" [slidesOffsetBefore]="20" [spaceBetween]="20">
      <swiper-slide (click)="openAlbum(album)"  *ngFor="let album of entry.albums">
        <img [src]="'../../assets/images/albums/'+dasherize(album.image)+'.jpg'">
        <span class="title ">{{album.title}}</span>
      </swiper-slide>
    </swiper-container>

  </ion-row>


</ion-content>